.title {
  opacity: 0;
  transition: all 1s linear;

  &.visible {
    opacity: 1;
  }
}

.subtitle {
  opacity: 0;
  transition: all 0.5s linear 0.5s;

  &.visible {
    opacity: 0.8;
  }
}

.search {
  gap: 0;
  padding: 8px;
  transition: all 0.8s ease-in-out 1s;

  &.visible {
    gap: 8px;
    padding: {
      top: 8px;
      bottom: 8px;
      left: 20px;
      right: 8px;
    }
  }

  &__input {
    width: 0;
    transition: all 0.8s ease-in-out 1s;

    &.visible {
      width: 264px;
    }
  }
}

.section-title {
  opacity: 0;
  transition: all 1s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.why-us__card {
  opacity: 0;
  transition: all 0.8s ease-in-out 0.4s;

  &:nth-child(2),
  &:nth-child(3) {
    transform: translateX(-100px);
  }

  &:nth-child(2) {
    transition-delay: 0.6s;
  }

  &:nth-child(3) {
    transition-delay: 0.8s;
  }

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.best-sell-slider__track {
  opacity: 0;
  transition: all 1s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.best-sell__more {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.4s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.experience,
.materials {
  .section-description {
    opacity: 0;
    transition: all 1s ease-in-out;

    &.visible {
      opacity: 1;
    }
  }
}

.experience,
.materials {
  .more-info {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.4s ease-in-out 1s;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.experience__image-decoration-1,
.experience__image-decoration-2 {
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.experience__image-decoration-2 {
  transition-delay: 0.25s;
}

.experience__image {
  opacity: 0;
  transition: all 1s linear 0.5s;

  &.visible {
    opacity: 1;
  }

  &--blured {
    opacity: 0;
    transition: all 0.5s ease-in-out 1s;

    &.visible {
      opacity: 1;
    }
  }
}

.materials-image-decoration {
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.gallery-image {
  opacity: 0;
  transition: all 1s linear 0.5s;

  &.visible {
    opacity: 1;
  }

  &--blured {
    opacity: 0;
    transition: all 0.5s ease-in-out 1s;

    &.visible {
      opacity: 1;
    }
  }
}

.testimonials-slider__card {
  opacity: 0;
  transform: scale(0.95);
  transition: all 1s ease-in-out;

  &.visible {
    opacity: 1;
    transform: scale(1);
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}